@charset "UTF-8";

#container_section_3{
  margin: 50px 50px;
  float: left;
  width: 1000px;
  height: 500px;
  background: #ebebeb;
  padding: 0px 30px;
  border-radius: 2px;
  border: 0.5px solid #d9d9d9;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #c4c4c4;
}

.container_name{
  text-align: left;
}

.container_name h1{
  color:gray;
  font-size: 20px;
}
