{%extends 'web/base.html'%}
{%load static%}
{%block content%}
<section id="wrap_section_1">
  <section id="menu_wrap_section_1">
    <div id="menu_name">
      <h1 class="korean">회사소개</h1>
      <h1 class="english">Company</h1>
    </div>
    <div id="content_menu">
      <img src="{%static 'web/img/menu_bar_1.png'%}">
      <ul>
        <a href="{%url 'web:introduction'%}"><li>인사말</li></a>
        <a href="{%url 'web:history'%}"><li>회사연혁</li></a>
        <a href="{%url 'web:map'%}"><li>찾아오시는길</li></a>
      </ul>
      <img src="{%static 'web/img/menu_bar_2.png'%}">
    </div>
    <div id="call_center_box">
      <h1>고객센터</h1>
      <br>
      <a href="tel:031-408-4992">
      <img src="{%static 'web/img/tel_logo.png'%}">
      <h2>031-408-4992</h2>
      <p>(클릭시 통화연결)</p>
      </a>
    </div>
  </section>
  {%block container%}
  {%endblock%}
</section>
{%endblock%}
