{%extends 'web/base.html'%}
{%load static%}
{%load  custom_tag%}
{%block content%}
<script type="text/javascript" src="{%static 'web/javascript/check_password_information_post.js'%}"></script>
<!--측면 메뉴-->
<section id="block_wrap_section">
  <section id="menu_wrap_section">
    <div id="menu_name">
      <h1 class="korean">
        문의하기
      </h1>
      <h1 class="english">
        Information
      </h1>
    </div>
    <div id="content_menu">
      <img src="{%static 'web/img/menu_bar_1.png'%}">
      <ul>
        <a href="{%url 'web:menu_6' page='notice'%}"><li>공지사항</li></a>
        <a href="{%url 'web:menu_6' page='information'%}"><li>문의하기</li></a>
      </ul>
      <img src="{%static 'web/img/menu_bar_2.png'%}">
    </div>
    <div id="call_center_box">
      <h1>고객센터</h1>
      <br>
      <a href="tel:031-408-4992">
      <img src="{%static 'web/img/call_gif_logo.jpg'%}">
      <h2>031-408-4992</h2>
      <p>(클릭시 통화연결)</p>
      </a>
    </div>
  </section>
<!--컨테이너-->

    <section id="container_section">
      <div class="container_name">
        <br><br>
        <h1>
          | 문의하기
        </h1>
      </div>
      <br><br><br>
      <br><br><br>
      <div class="delete_success_box">
        {%if name == 'delete'%}
          {%if success == 1%}
            <h1>게시글이 삭제되었습니다.</h1>
            <div class="button_box">
              <button onClick="location.href='{%url 'web:main'%}'">홈으로</button>
            </div>
          {%else%}
            <h1>비밀번호가 다르거나 게시글이 존재하지 않습니다.</h1>
            <div class="button_box">
              <button onClick="history.go(-1);">뒤로가기</button>
            </div>
          {%endif%}
        {%elif name == 'enter'%}
          {%if success != 1%}
            <h1>비밀번호가 다릅니다.</h1>
            <div class="button_box">
              <button onClick="history.go(-1);">뒤로가기</button>
            </div>
          {%endif%}
        {%endif%}
      </div>
    </section>

  </section>
  {%endblock%}
