{%extends 'web/base.html'%}
{%load static%}
{%load  custom_tag%}
{%block content%}
<script type="text/javascript" src="{%static 'web/javascript/input_information_post_password.js'%}"></script>
<!--측면 메뉴-->

<section id="block_wrap_section">
  <section id="menu_wrap_section">
    <div id="menu_name">
      <h1 class="korean">
        {%if page == 'notice'%}
        공지사항
        {%elif page == 'information'%}
        문의하기
        {%endif%}
      </h1>
      <h1 class="english">
        {%if page == 'notice'%}
        Notice
        {%elif page == 'information'%}
        Information
        {%endif%}
      </h1>
    </div>
    <div id="content_menu">
      <img src="{%static 'web/img/menu_bar_1.png'%}">
      <ul>
        <a href="{%url 'web:menu_6' page='notice'%}"><li>공지사항</li></a>
        <a href="{%url 'web:menu_6' page='information'%}"><li>문의하기</li></a>
      </ul>
      <img src="{%static 'web/img/menu_bar_2.png'%}">
    </div>
    <div id="call_center_box">
      <h1>고객센터</h1>
      <br>
      <a href="tel:031-408-4992">
      <img src="{%static 'web/img/call_gif_logo.jpg'%}">
      <h2>031-408-4992</h2>
      <p>(클릭시 통화연결)</p>
      </a>
    </div>
  </section>

<!--컨테이너-->

  <section id="container_section">
    <div class="container_name">
      <br><br>
      <h1>
        {%if page == 'notice'%}
        | 공지사항
        {%elif page == 'information'%}
        | 문의하기
        {%endif%}
      </h1>
    </div>
    <br><br><br>
    <br><br><br>
    <div class="input_information_post_password_box">
      {%if name == 'delete'%}
        <form action="{%url 'web:edit_information' 'information' information_post.pk 'delete'%}" method="post">
          {%csrf_token%}
          <h1>해당 게시글의 비밀번호를 입력해주세요.</h1>
          <input type="password" name="post_password"><br><br>
          <button type="submit">삭제하기</button>
        </form>
      {%elif name == 'enter'%}
        <form action="{%url 'web:detail_post' 'information' information_post.pk%}" method="post">
          {%csrf_token%}
          <h1>해당 게시글의 비밀번호를 입력해주세요.</h1>
          <input type="password" name="post_password"><br><br>
          <button type="submit">글 보기</button>
        </form>
      {%endif%}
    </div>
  </section>

</section>
{%endblock%}
