{%extends 'web/base.html'%}
{%load static%}
{%block content%}
<script type="text/javascript" src="{%static 'web/javascript/menu_4.js'%}"></script>
<!--측면 메뉴-->

<section id="block_wrap_section">
  <section id="menu_wrap_section">
    <div id="menu_name">
      <h1 class="korean">
        보유중장비
      </h1>
      <h1 class="english">
        Equipment Holdings
      </h1>
    </div>
    <div id="content_menu">
      <img src="{%static 'web/img/menu_bar_1.png'%}">
      <ul>
        <a href="{%url 'web:menu_4'%}"><li>보유중장비</li></a>
      </ul>
      <img src="{%static 'web/img/menu_bar_2.png'%}">
    </div>
    <div id="call_center_box">
      <h1>고객센터</h1>
      <br>
      <a href="tel:031-408-4992">
      <img src="{%static 'web/img/call_gif_logo.jpg'%}">
      <h2>031-408-4992</h2>
      <p>(클릭시 통화연결)</p>
      </a>
    </div>
  </section>

<!--컨테이너-->

  <section id="container_section">
    <div class="container_name">
      <br><br>
      <h1>
        | 보유 중장비
      </h1>
    </div>
    <div class="content_box">
      <div class="equipment_box">
        <div class="equipment_img_box">
          <img src="{%static 'web/img/035.png'%}">
          <h1>포크레인035</h1>
          <h2>보유현황 1대</h2>
        </div>
        <div class="equipment_img_box">
          <img src="{%static 'web/img/08w.jpg'%}">
          <h1>포크레인08W</h1>
          <h2>보유현황 2대</h2>
        </div>
        <div class="equipment_img_box">
          <img src="{%static 'web/img/10lc.jpg'%}">
          <h1>포크레인10LC</h1>
          <h2>보유현황 1대</h2>
        </div>
        <div class="equipment_img_box">
          <img src="{%static 'web/img/mighty.jpg'%}">
          <h1>3.5톤 마이티</h1>
          <h2>보유현황 3대</h2>
        </div>
        <div class="equipment_img_box">
          <img src="{%static 'web/img/bongo.jpg'%}">
          <h1>1톤 트럭</h1>
          <h2>보유현황 4대</h2>
        </div>
        <div class="equipment_img_box">
          <img src="{%static 'web/img/dumptruck.png'%}">
          <h1>25톤 덤프트럭</h1>
          <h2>보유현황 1대</h2>
        </div>
      </div>
      <div class="equipment_gallery_box">
        <img src="{%static 'web/img/eq_1.jpg'%}">
        <img src="{%static 'web/img/eq_2.jpg'%}">
        <img src="{%static 'web/img/eq_3.jpg'%}">
      </div>
    </div>
  </section>

</section>
{%endblock%}
