{%extends 'web/base.html'%}
{%load static%}
{%load custom_tag%}
{%block content%}
<script type="text/javascript" src="{%static 'web/javascript/menu_3.js'%}"></script>
<!--측면 메뉴-->

<section id="block_wrap_section">
  <section id="menu_wrap_section">
    <div id="menu_name">
      <h1 class="korean">
        사업실적
      </h1>
      <h1 class="english">
        Business Gallery
      </h1>
    </div>
    <div id="content_menu">
      <img src="{%static 'web/img/menu_bar_1.png'%}">
      <ul>
        <a href="{%url 'web:menu_3'%}"><li>사업실적</li></a>
      </ul>
      <img src="{%static 'web/img/menu_bar_2.png'%}">
    </div>
    <div id="call_center_box">
      <h1>고객센터</h1>
      <br>
      <a href="tel:031-408-4992">
      <img src="{%static 'web/img/call_gif_logo.jpg'%}">
      <h2>031-408-4992</h2>
      <p>(클릭시 통화연결)</p>
      </a>
    </div>
  </section>

<!--컨테이너-->

  <section id="container_section">
    <div class="container_name">
      <br><br>
      <h1>
        | 사업 실적
      </h1>
    </div>
    <br><br><br>
    <div class="result_box">
      <table class="result_table">
        <thead>
              <tr>
                <th scope="cols">공사현장</th>
                <th scope="cols">공사내용</th>
                <th scope="cols">공사시작날짜</th>
              </tr>
        </thead>
        <tbody>
          {%for result_post in result_posts%}
              <tr>
                <td class="posts_table_title">
                  <a href="{%url 'web:detail_result' result_post.pk%}">
                  {{result_post.address | result_post_slice}}
                  </a>
                </td>
                <th scope="row">{{result_post.business_name}}</th>
                <th scope="row">{{result_post.business_start_at}}</th>
              </tr>
           {%endfor%}
        </tbody>
        </table>
        <table class="page_box">
            <tr>
              {%if result_posts.has_previous%}
              <td class="pre_button"><a href="?p={{result_posts.previous_page_number}}">이전페이지</a></td>
              {%endif%}
              <td>{{ result_posts.number }} / {{ result_posts.paginator.num_pages }}</td>
              {% if result_posts.has_next %}
              <td class="next_button"><a href="?p={{result_posts.next_page_number}}">다음페이지</a></td>
              {%endif%}
            </tr>
        </table>
     </div>
  </section>

</section>
{%endblock%}
